* {
    box-sizing: border-box;
}

.basket-1{
    font-weight: bold;
    font-size: 1rem;
}

.basket-items{
    list-style-type:none;
}

.summary-list li{
    font-weight: bold;
    background-color: lightgrey;
}