* {
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 0.5rem;
}

.items{
    list-style-type: none;
    border: 0.063rem solid #eee;
    margin: 0;
    padding: 0;
}

.items:hover {
    box-shadow: 0 0.5rem 0.75rem 0 rgba(0,0,0,0.2)
}

.items .header {
    background-color: #111;
    color: white;
    font-size: 1.563rem;
}

.items li {
    border-bottom: 0.063rem solid #eee;
    font-size: 0.75rem;
    padding: 1.25rem;
    text-align: center;
}

.avP{
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
}

.tv{
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
}

.miP{
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
}

.maP{
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
}

.t-tax{
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
}

.avP2{
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
}

.tv2{
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
}

.miP2{
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
}

.maxP2{
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
}

.t-tax2{
    background-color: #eee;
    font-size: 1.25rem;
    font-weight: bold;
}